<div class="search-sign-in-wrapper">
  <div class="ellipsis">
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"></a>
      <ul class="dropdown-menu pull-right">
        <span class="triangle"></span>
        <li class="menu nav-near-me"><a href="#">Find Cru Near Me</a></li>
        <li class="menu nav-globe"><a href="#">Cru Around the World</a></li>
        <li class="menu nav-books"><a href="#">Shop Books</a></li>
        <li class="menu nav-apps"><a href="#">Apps</a></li>
      </ul>
    </div>
  </div>

  <div class="sign-in">Sign In</div>

  <div class="cart">
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"></a>
      <div class="dropdown-menu pull-right">
        <span class="triangle"></span>
        <div class="container-fluid" tabindex="-1" role="dialog">
          <div class="row row-no-spacing">
            <div class="col-xs-12">

              <!-- /////////////// Cart list -->
              <div class="desktop-cart-list">
                <div class="repeating-row select-recipient-row">
                  <div class="col-xs-3">
                    <img src="http://placehold.it/550x310" class="">
                  </div>
                  <div class="col-xs-9">
                    <p class="title">TITLE</p>
                    <p class="title">TITLE...</p>
                    <p class="price">PRICE</p>
                  </div>
                </div>

                <div class="repeating-row select-recipient-row">
                  <div class="col-xs-3">
                    <img src="http://placehold.it/550x310" class="">
                  </div>
                  <div class="col-xs-9">
                    <p class="title">TITLE</p>
                    <p class="title">TITLE...</p>
                    <p class="price">PRICE</p>
                  </div>
                </div>

                <div class="repeating-row select-recipient-row">
                  <div class="col-xs-3">
                    <img src="http://placehold.it/550x310" class="">
                  </div>
                  <div class="col-xs-9">
                    <p class="title">TITLE</p>
                    <p class="title">TITLE...</p>
                    <p class="price">PRICE</p>
                  </div>
                </div>
              </div>

              <!-- /////////////// Cart list -->

              <div class="repeating-row select-recipient-row sub-total">
                <div class="col-xs-6">
                  <p>8 Items</p>
                </div>
                <div class="col-xs-6 text-right">
                  <p>Subtotal $88.88</p>
                </div>
              </div>

              <button class="btn btn-primary checkout">Checkout</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-icon"></div>

  <div class="search">
    <div class="container">
      <form action="" id="desktop-search">
        <input type="text" placeholder="search">
      </form>
    </div>
  </div>
</div>
