<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

<script>
$(function() {
	$('#menu-toggle').click(function(e) {
	  e.preventDefault();
	  $('#wrapper').toggleClass('toggled');
	});

	$('.commentLink').click(function() {
	  $(this).next().toggle();
	  return false;
	});

	$('.tab-btn').click(function() {

		$('.tab-btn').removeClass('on');
		$(this).addClass('on');

	    tabTarget = $(this).data('target');
	    $('.cart-tab').removeClass('show');
	    $('.'+tabTarget).addClass('show');
	    return false;

	    console.log('tab');
	});

	$('#billingAddressValue').click(function() {
    $('#address-billing-current, #address-billing-new').toggleClass('on');
	});

  $('.bank-explain-trigger').click(function() {
    $('.bank-explain-wrap').toggleClass('on');
    return false;
  });

});
</script>

<script src="{{ site.root }}/etc/designs/cru/clientlibs.js"></script>
<script src="{{ site.root }}/assets/bower_components/slick-carousel/slick/slick.min.js"></script>
<!-- Facebook feed js -->
<div id="fb-root"></div>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=116517098374395&version=v2.0";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
<script src="//platform.twitter.com/widgets.js" id="twitter-wjs"></script>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script src="//maps.googleapis.com/maps/api/js"></script>