<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" lang="en" class="no-js">
 <!--<![endif]-->

 <head>

 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width, minimum-scale=1.0">
 <meta name="apple-mobile-web-app-title" content="cru.org">
 <meta content="Oh2sCc1p9XP29+2XSvbzRrfta37de2qDQ/8YkLERinU=" name="verify-v1">
 <meta property="fb:app_id" content="116517098374395">
 <link rel="shortcut icon" href="/xicon.png.pagespeed.ic.K1y4yTdKy-.png">
 <link href="https://plus.google.com/u/0/110018976597685338404" rel="publisher">
 <link href="https://www.cru.org/store/all-stores.html" rel="canonical">
 <title>Give</title>
 <meta name="description" content="Cru is supported by people like you who want to help the Body of Christ grow through evangelism and discipleship.">
 <meta property="og:title" content="All Stores">
 <meta property="og:url" content="https://www.cru.org/store/all-stores.html">
 <meta property="og:description" content="Cru is supported by people like you who want to help the Body of Christ grow through evangelism and discipleship.">
 <meta property="og:site_name" content="Cru.org">
 <meta property="og:type" content="article">
</head>

<body class="page page--article">

 <div id="js-outerWrap" class="u-posRelative  u-fullWidth  outerWrap  js-outerWrap">
  <div id="js-innerWrap" class="u-posRelative  u-fullWidth  innerWrap  js-innerWrap">

{% include meta.html %}
