
.has-error {
  .form-control {
    box-shadow: inset 0px 0px 0px 1px $state-danger-text;
  }
  label {
    color: $state-danger-text;
    &:before {
      content: "\f071";
      display: inline-block;
      font-family: "fontawesome";
      margin-right: 6px;
    }
  }
}

.has-success {
  .form-control {
    box-shadow: inset 0px 0px 0px 1px $colorHelper-success;
  }
  label {
    color: $colorHelper-success;
    &:before {
      content: "\f00c";
      display: inline-block;
      font-family: "fontawesome";
      margin-right: 6px;
    }
  }
}

.is-required {
  label {
    &:after {
      content: "*";
      display: inline-block;
      font-size: 115%;
      font-family: "fontawesome";
      margin-left: 6px;
    }
  }
  input[type=text],
  input[type=number],
  input[type=password],
  input[type=email],
  input[type=search],
  input[type=url],
  input[type=tel],
  select {
  }
}

.help-block {
  font-size: 85%;
  font-weight: 600;
  line-height: 1.25rem;
}
