#mobile-navigation {
  height: 100%;
  background-color: #FFF;
  overflow: hidden;

  // Navigation styles
  .menu-icons {
    list-style: none;
    margin: 0;
    transform: translateX(0%);
    background: #EBEBEB;
    border: none;
    height: 50px;
    width: auto;
    padding: 0;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    li {
      height: 50px;
      line-height: 50px;
      width: 16.66%;
      display: inline-block;
      float: left;
      padding: 0;
      margin: 0;
      position: relative;
      text-align: center;
      vertical-align: middle;

      a {
        line-height: 50px;
        height: 100%;
        margin: 0;
        padding: 0;
        min-width: 0;
        display: block;
        zoom: normal;
        border: none;
        position: static;
      }

      img {
        display: inline-block;
        max-height: 25px;
        margin-top: -2px;
        vertical-align: middle;
        opacity: 1;
        filter: grayscale(100%);
      }

      &.active img {
        filter: grayscale(0%);
      }
    }
  }

  .nav-tabs ~ .tab-content {
    padding: 0;
    overflow: visible;
  }

  .main-menu-container {
    position: relative;
    ul {
      background: #fff;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 1;
      width: 100%;
      margin: 0;
      padding: 0;

      &.visible {
        padding: 0;
        left: 0;
        z-index: 10;
      }
    }

    li {
      list-style: none;
      margin: 0;
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid #EBEBEB;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      &.has-children {
        background: url("/assets/img/mobile-menu-forward-arrow.png") no-repeat 90% 50%;
      }
      &:focus,
      &:active {
        outline: none;
        box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
      }
      a {
        display: block;
        color: $colorText;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  :not(.main-menu).visible li:first-child {
    font-weight: bold;
  }

  .tab-content {
    #mob-search, #mob-nearme {
      border-top: 1px solid #FFF;

      input {
        background-color: #EBEBEB;
        font-size: 24px;
        font-weight: 500;
        padding-top: 40px;
        padding-bottom: 40px;
        box-sizing: border-box;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: none;
      }
    }
  }

  #mob-cart {
    .repeating-row {
      background-color: $colorGrayscale-stone;
      padding: 30px 15px;
      border-top: 1px solid $colorCru-white;
    }

    .title {
      color: $colorCru-gold;
      font-weight: 600;
     }

    .price {
      font-weight: 600;
    }

    .checkout {
      width: 100%;
      border-radius: 0;
      text-transform: uppercase;
    }
  }

  #mob-more {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 10px 10px 10px 20px;
      border-bottom: 1px solid #EBEBEB;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;

      img {
        vertical-align: middle;
        opacity: 1;
        max-height: 25px;
        width: auto;
        display: inline-block;
        padding-right: 20px;
        margin-top: -2px;
      }
    }
  }
}

