body{  
  @media (min-width: 1024px) {
    .modal-large {
        width: auto;
        max-width: 800px;
        margin: 30px auto;

        $modpad: $gutter*1;
        .modal-body {
          padding: $modpad $modpad 0 $modpad;
        }
        .modal-footer {
          padding-left: $modpad;
          padding-right: $modpad;
        }
    }
  }
}

.modal-content {
  &.modal-with-header {
    .modal-body {padding-top: 0;}
  }
	.modal-header {
    border-bottom: none;
		@media (min-width: 992px) {
			button.close {
				background: url("/assets/images/close-icon.png");
        background-size: contain;
				width: 36px;
				height: 36px;
				margin-top: -15px;
				margin-right: -70px;
				opacity: 1;

				span {
					display: none;
				}
			}
		}
	}
}

@media (min-width: 550px) {
	.modal-sm {
		width: 450px;
	}
}

#addNewPaymentModal{
	background-color: rgba(138, 138, 138, 0.9); 
	.light-font{
		font-size: 14px;
		color: #d3d3d3;
		font-weight: bold;
	}
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}