body{
	#modalBenefits{
		.modal-content{
			.modal-header{
				border-bottom:none !important;
			}
			.modal-body{
				width:100%;
				font-size:.8em;
			}
		}
	}
}

body{
	#signupModal{
		.modal-content{
			.modal-header{
				border-bottom:none !important;
			}
			.modal-body{
				width:100%;
				font-size:.8em;
			}
		}
	}
}

#signinModal{
	.modal-content{
		.modal-header{
			border-bottom:none !important;
		}
	}
}

#addNewPaymentModal{
	background-color: rgba(138, 138, 138, 0.9); 
	.light-font{
		font-size: 14px;
		color: #d3d3d3;
		font-weight: bold;
	}
}