

     {% include header.html %}
     {% include subnav.html %}

     {{ content }}





    {% include footer.html %}

   </div>
   <!-- End #js-innerWrap -->
  </div>
  <!-- End #js-outerWrap -->



  <!-- Facebook feed js -->
  <div id="fb-root"></div>
  <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=116517098374395&version=v2.0";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
  <script src="//platform.twitter.com/widgets.js" id="twitter-wjs"></script>
  <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <script src="/etc/designs/cru/clientlibs.js"></script>
 </body>
</html>
