{% include header.html %}
{% include subnav.html %}

<div class="screenContent">
  {% include modal.html %}

  <div class="postArticle  layoutSingleColumn--wide   container-fluid">

    {{ content }}

    <div class="masonry__item  col-md-12"><!-- // Search Panel -->
      {% include search.html %}
    </div>

    <div class="masonry__item  col-md-12"><!-- // Related Panel -->
      {% include related.html %}
    </div>

  </div>
</div><!-- // Screen content -->


{% include footer.html %}

</div>
<!-- End #js-innerWrap -->
</div>
<!-- End #js-outerWrap -->






</body>
</html>
